services:
  - type: web
    name: web-yarden
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm ci && npm run build && npm run type-check
    startCommand: npm start
    healthCheckPath: /api/health
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_SITE_URL
        value: https://web-yarden.onrender.com
      - key: PORT
        value: 10000
